*,
.clear {
	padding: 0;
	margin: 0;
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0!important;
}

body,
html {
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-family: Arial, sans-serif;
	font-weight: 400;
	color: #444;
	line-height: 20px;
	position: relative;
}

canvas {
	position: absolute;
	display: block;
	top: 0; left: 0;
	background: #2C2D3A;
	height: 100%; width: 100%;
}